task_communication_loss_extractor:
  description: >
    Your ONLY job is to take the entire GRAPHML path  """ {{graph_path}} """
    and pass it UNCHANGED to the 'CommunicationLossTool' tool in the 'args_schema' argument.
    
    Do NOT try to extract nodes or terrains yourself. 
    Do NOT summarize. 
    Pass the entire GRAPHML path exactly as it is: """ {{graph_path}} """
  expected_output: >
    A list of specific node IDs with communication loss.
  agent: communication_loss_extractor

task_extractor:
  description: >
    Based on the information inside the input file """ {{report_priority}} """, identify in which nodes rovers need to perform their tasks.
  expected_output: >
    A Python list containing all the node IDs where rovers need to perform their tasks.
  agent: extractor

task_planner:
  description: >
    TODO
  expected_output: >
    TODO
  agent: planner

task_image_capture:
  description: >
    TODO
  expected_output: >
    TODO
  agent: image_capture

task_thermal_scan:
  description: >
    TODO
  expected_output: >
    TODO
  agent: thermal_scan
